# Supabase Configuration

NEXT_PUBLIC_SUPABASE_URL=https://wucdcxffebfzdtkgbzrk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind1Y2RjeGZmZWJmemR0a2dienJrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTEyOTU4NDAsImV4cCI6MjA2Njg3MTg0MH0.OkUADoTQdzlMKTJYoQCTS1SLJ-zlSNHI4kfziUV9nok


# Cloudinary Configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dcckbmhft
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=contactNama
CLOUDINARY_API_KEY=895713768947291
CLOUDINARY_API_SECRET=moloMR9hocg7r1f9MDZ7gC2OUqw